@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body.active {
  position: fixed;
  max-width: 100%;
  scrollbar-width: none;
}
.discount {
  background-color: #0e1422;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.discount p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo h1 {
  font-family: "Manrope", sans-serif;
  color: #0e1422;
  font-size: 27px;
  font-style: normal;
  text-align: left;
}
.links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.links ul li {
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: #5c5f6a;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.right-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.right-header button,
.split button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #e6e7e8;
  border-radius: 4px;
  cursor: pointer;
}
.right-header button a,
.split button a {
  text-decoration: none;
  color: #5c5f6a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.right-header button a span,
.split button a span {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}
.top-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid #e6e7e8;
  border-radius: 6px;
}
.top-search-bar input {
  border: none;
  outline: none;
}
/* Hamburger Menu */
.br {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hamburger-menu {
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer;
  padding: 1rem;
}
.hambar {
  width: 75%;
  height: 4px;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s, opacity 0.8s, top 0.6s;
  z-index: 2000;
}
.bar1 {
  top: 25%;
}
.bar3 {
  top: 75%;
}
.hamburger-menu.active .bar1 {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
}
.hamburger-menu.active .bar2 {
  opacity: 0;
}
.hamburger-menu.active .bar3 {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
}
.off-screen-menu {
  position: fixed;
  top: 0;
  background-color: #f6f6f6;
  right: -100%;
  width: 100%;
  height: 100vh;
  transition: right 0.9s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  padding: 50px 0 0 20px;
}
.ham-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.off-screen-menu.active {
  right: 0;
  max-width: 100%;
}
.Links2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Links2 li {
  list-style: none;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.Links2 li a {
  text-decoration: none;
  color: #5c5f6a;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.Links2 li a:hover {
  color: #0e1422;
}
.br h4 a {
  text-decoration: none;
  color: #5c5f6a;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.split {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.split {
  display: none;
}

/* Homepage */
.first-body-homepage {
  width: 100%;
  height: 672px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 2rem;
  background-image: url("../images/full-shot-contemplative-man-seaside.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.first-body-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 60px;
  gap: 15px;
}
.first-body-left h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f6f6f6;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
}
.first-body-left p {
  font-family: "Inter", sans-serif;
  color: #e9e9eb;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  width: 100%;
  max-width: 500px;
}
.first-body-left button {
  margin-top: 28px;
  width: fit-content;
  padding: 12px 24px;
  background-color: #0e1422;
  color: white;
  border: none;
  border-radius: 4px;
}
.first-body-left button a {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.first-body-right {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
#businessman {
  display: none;
}
.first-body-right img {
  width: 100%;
  max-width: 330px;
  height: 100%;
  max-height: 500px;
}
.second-body-homepage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 80px 60px;
  margin-bottom: 3rem;
}
.fade1 {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
.fade1.visible {
  opacity: 1;
  transform: translateX(0);
}
.fade2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
.fade2.visible {
  opacity: 1;
  transform: translateY(0);
}

.each-ab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
}
.each-ab img {
  padding: 10px;
  border-radius: 50%;
  background-color: #f6f6f6;
}
.each-ab h3 {
  font-family: "Inter", sans-serif;
  color: #202533;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.each-ab p {
  font-family: "Inter", sans-serif;
  color: #5c5f6a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 80%;
}
.shop-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 3rem;
}
.shop-now h3 {
  font-family: "Inter", sans-serif;
  color: #878a92;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.shop-now h1 {
  font-family: "Inter", sans-serif;
  color: #0e1422;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.third-body-homepage {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 80px 60px;
  gap: 10px;
}
.each-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
  border-radius: 4px;
  flex-grow: 1;
}
.each-item img {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5rem;
}
.details h5 {
  font-family: "Inter", sans-serif;
  color: #0e1422;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.each-item-price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.each-item-price button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #e6e7e8;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.each-item-price p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.fourth-body-homepage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  background-color: #f6f6f6;
  margin-bottom: 7rem;
}
.fourth-body-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fourth-body-left h1 {
  font-family: "Inter", sans-serif;
  color: #202533;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.fourth-body-left p {
  font-family: "Inter", sans-serif;
  color: #474b57;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.fourth-body-left a {
  width: fit-content;
  text-decoration: none;
}
.fourth-body-left a button {
  margin-top: 48px;
  width: 100%;
  padding: 12px 24px;
  background-color: #0e1422;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.money-update {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.money-update button {
  padding: 6px 16px;
  background-color: transparent;
  color: #202533;
  border: 1px solid #e9e9eb;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.fifth-body-homepage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 60px 60px;
  background-color: #f6f6f6;
  margin-bottom: 3rem;
}
.fifth-body-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fifth-body-left h1 {
  font-family: "Inter", sans-serif;
  color: #202533;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.fifth-body-left p {
  font-family: "Inter", sans-serif;
  color: #474b57;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.send-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.send-email input {
  padding: 10px 15px;
  border: 1px solid #e6e7e8;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
}
.send-email button {
  padding: 10px 15px;
  background-color: #0e1422;
  color: white;
  border: 1px solid #0e1422;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  gap: 40px;
  padding-bottom: 3rem;
}
.column1,
.column2,
.column3,
.column4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}
.bottom-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-logo h1 {
  font-family: "Manrope", sans-serif;
  color: #0e1422;
  font-size: 20px;
  font-style: normal;
}
.column1 h4 {
  font-family: "Inter", sans-serif;
  color: #5c5f6a;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.column2 h4 {
  font-family: "Inter", sans-serif;
  color: #878a92;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.column2 h3 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #5c5f6a;
  cursor: pointer;
}
.column2 h3 a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #5c5f6a;
  cursor: pointer;
  text-decoration: none;
}
.column3 h2 {
  color: #878a92;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.copy-right {
  padding: 20px 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.copy-right hr {
  width: 100%;
  border: 1px solid #f6f6f6;
}
.copy-right p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #5c5f6a;
  text-align: center;
}
#collection {
  font-size: 32px;
  font-weight: 600;
  color: #0e1422;
  font-family: "Inter", sans-serif;
  width: 100%;
  text-align: start;
  padding-left: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 1045px) {
  .each-ab p {
    width: 100%;
  }
  #collection {
    padding-left: 20px;
  }
  header {
    padding: 8px 20px;
  }
  .second-body-homepage {
    padding: 80px 20px;
  }
  .third-body-homepage {
    padding: 40px 20px;
  }
  .fourth-body-homepage {
    padding: 40px 20px;
    margin-bottom: 3rem;
  }
  .fifth-body-homepage {
    padding: 60px 20px;
  }
  footer {
    padding: 40px 20px;
  }
  .first-body-right img {
    right: 25px;
  }
  .each-item h5 {
    font-size: 14px;
  }
  .first-body-left {
    padding: 0 20px;
  }
  .first-body-left h1 {
    font-size: 40px;
  }
  .first-body-left p {
    font-size: 16px;
    max-width: 400px;
  }
}
@media screen and (max-width: 962px) {
  .logo h1 {
    font-size: 20px;
  }
  .right-header {
    gap: 20px;
  }
  .links ul {
    gap: 20px;
  }
  footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 843px) {
  .links ul {
    display: none;
  }
  .split {
    display: block;
    display: flex;
    flex-direction: row;
  }
  .right-header {
    display: none;
  }
  .third-body-homepage {
    grid-template-columns: repeat(2, 1fr);
  }
  .each-item h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 739px) {
  .first-body-left h1 {
    font-size: 32px;
  }
  .first-body-left p {
    font-size: 14px;
    max-width: 350px;
  }
}
@media screen and (max-width: 650px) {
  .first-body-left button {
    margin-top: 0;
  }
  .second-body-homepage {
    padding: 30px 10px;
  }
  .third-body-homepage {
    padding: 30px 10px;
  }
  .fourth-body-homepage {
    padding: 40px 10px;
  }
  .fifth-body-homepage {
    padding: 60px 10px;
  }
  #collection {
    padding-left: 10px;
  }
  footer {
    padding: 40px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .fifth-body-homepage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fifth-body-left h1 {
    text-align: center;
  }
  .fifth-body-left p {
    text-align: center;
  }

  .first-body-homepage {
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-image: none;
  }
  #businessman {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-body-left {
    text-align: center;
    justify-content: center;
    gap: 8px;
  }
  .first-body-left h1 {
    color: #0e1422;
    text-align: center;
    width: 100%;
  }
  .first-body-left p {
    color: #5c5f6a;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .fifth-body-left h1 {
    text-align: center;
  }
  .fifth-body-left p {
    text-align: center;
  }
  .fourth-body-left a {
    width: 100%;
  }
  .first-body-left button {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .first-body-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-body-right img {
    margin-bottom: 0;
  }
  .fourth-body-homepage {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .fourth-body-left {
    text-align: center;
    justify-content: center;
  }
  .fourth-body-left button {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .right-header {
    gap: 10px;
  }
  .right-header button {
    padding: 10px 10px;
  }
  header {
    padding: 5px 10px 5px 10px;
  }
}
@media screen and (max-width: 606px) {
  .second-body-homepage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .each-ab {
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 469px) {
  .shop-now {
    margin-bottom: 1rem;
  }
  .each-item {
    text-align: center;
    align-items: center;
  }
  .each-item h5 {
    font-size: 16px;
  }
  .each-item-price p {
    font-size: 16px;
  }
  .logo img {
    width: 35px;
    height: 35px;
  }
  .each-item-price button {
    font-size: 11px;
    padding: 2px 10px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .each-item-price p {
    font-size: 12px;
  }
  .money-update button {
    font-size: 12px;
    padding: 2px 10px;
  }
}
@media screen and (max-width: 369px) {
  .Ellipse {
    width: 200px;
    height: 200px;
  }
  .fourth-body-left h1 {
    font-size: 29px;
  }
  .fourth-body-left p {
    font-size: 12px;
  }
  .fourth-body-left a button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 335px) {
  .first-body-left h1 {
    font-size: 28px;
  }
  .first-body-left p {
    font-size: 12px;
  }
  .send-email {
    width: 100%;
  }
  .send-email input {
    width: 100%;
  }
  .discount p {
    font-size: 13px;
  }
  .each-item h5 {
    font-size: 13px;
  }
}
